<h1 class="centered">{{title}}</h1>
<p class="centered">Welcome to {{title}}</p>


<button type="button" class="btn btn-primary btn-sm" onclick="window.location.reload(true)">Refresh</button>
<div class="container">
  <div class="">
    <div class="left">
      Critical Updates
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          <input type="submit" class="btn btn-danger btn-sm" value="Update">

    </div>
    <hr>
    <div class="left">
      Recent Gate
      <div class="form-group"></div>
      Gate C
      <input type="number" name="Gate" pattern="[0-9]" class="input-length"> Destination
      <input type="text" name="Destination" class="input-length"> MOVE TO
      <div class="form-group"></div>
      NEW GATE Gate C
      <input type="number" name="Gate" pattern="[0-9]" class="input-length"> Destination
      <input type="text" name="Destination" class="input-length">
       <select>
      <option value="MX">MX</option>
      <option value="Holding">Holding for inbound connections</option>
      <option value="Crew">Crew</option>
      <option value="Fueling" selected>Fueling</option>
    </select>
      <input type="submit" class="btn btn-primary btn-sm" value="Update">
    </div>
    </form>
   
  </div>
</div>
<hr>

<div class="left">
  Connections
  <select>
  <option value="Hold">Hold</option>
  <option value="No Hold">No Hold</option>
  <option value="Pax Rebooked">Pax Rebooked</option>
  
</select>
    <input type="submit" class="btn btn-primary btn-sm" value="Update">

</div>
<hr>

</div>
<div class="left">
  Services Potable water and lavs C35 TIME:
  <form action="/">
    <div class="form-group"></div>
    Gate C
    <input type="number" name="Gate" class="input-length"> Destination
    <input type="text" name="Destination" class="input-length">

    <input type="radio" name="Potable Water" value="Potable Water" checked>Potable Water
    <input type="radio" name="Lav Service" value="Lav Service" checked>Lav Service
    <input type="submit" class="btn btn-primary btn-sm" value="Update">
</div>
</form>

</div>
<hr>
<div class="centered">
  Late Flights
  <form action="/">

    <div class="form-group"></div>
    Gate C
    <input type="number" name="Gate" width="20" class="input-length"> Destination
    <input type="text" name="Destination" class="input-length">
    <input type="submit" class="btn btn-primary btn-sm" value="Update">
</div>
</form>
<select>
  <option value="MX">MX</option>
  <option value="Holding">Holding for inbound connections</option>
  <option value="Crew">Crew</option>
  <option value="Deadheaders">Deadheaders</option>
  <option value="Fueling" selected>Fueling</option>
  <option value="ATC/Ground Stop">ATC/Ground Stop</option>
</select>
</div>
<hr>
<div class="left">
  Shift Passdown
</div>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
<hr>
<img src="./images/2770.png">
</div>