<h1 class="centered">{{title}}</h1>
<p class="centered">Welcome to {{title}}</p>



<div class="container">
  <div class="">
    <div class="centered">
      Critical Updates
      <p>Something Critical goes here</p>
    </div>
    <hr>
    <div class="centered">
      Recent Gate Changes
      MDW 2246 Moving from C26 to C35
    </div>
    <hr>
    
    <div class="centered">
      Connections
      #4325 ABQ delayed 1 hour many misconnects. No holds for SAN
    </div>
    <hr>
    <div class="centered">
      Shift Passdown
      #4455 FLL is delayed by four hours everyone has been rebooked
    </div>
    <hr>
  </div>
  <div class="centered">
      Services
      Potable water and lavs C35 TIME:
    </div>
    <hr>
     <div class="centered">
      Late Flights
      Flt # 3354 MDW is late due to MX
      <select>
  <option value="MX">MX</option>
  <option value="Holding">Holding for inbound connections</option>
  <option value="Crew">Crew</option>
  <option value="audi" selected>Audi</option>
</select>
    </div>
    <hr>
</div>