
    

    <button>Critical Updates</button>
<button class='success'>Gate Changes</button><br>
{{#each shiftpassdown}}
<h1>{{details}}</h1>
<h1>test</h1>
{{/each}}
</div>

<button class='warning'>Connections</button>
<button class='error'>Services</button>
<button disabled>Late Flights</button>
<button disabled>Shift Passdown</button>
<div>
    <h1>test</h1>
    </div>


<form action="/shiftpassdown" method="POST" id="">
        <textarea class="form-control spacing" name="details" id="" rows="3"></textarea>

        <input type="submit" class="btn btn-primary btn-sm button-spacing" value="Update">
      </form>
    <div>
{{#each shiftData}}
<h3>{{details}}</h3>
{{/each}}
</div>