body {
  padding: 5px;
  font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 7px;

}

a {
  color: #00B7FF;
}


.option-style {
  width: 80px;
}

.input-length
{
    width: 50px;
    maxlength:5px; /* " " */
}


input[type="text"]{ padding: 5px 5px; line-height: 8px; }