body {
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 7px;
}
.button-spacing {
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.field-spacing {
  padding: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #00b7ff;
}
div {
  overflow: hidden;
  white-space: nowrap;
}

/* .spacing {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
} */
.radio-spacing {
  padding: 1em;
  padding-right: 5em;
  padding-left: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

/* .option-style {
  width: 80px;
} */

.input-length {
  width: 85px;
  height: 40px;
  font-size: 25px;
}

input[type="text"] {
  margin: 0;
  padding: 2px 2px;
  line-height: 24px;
  font-size: 22px;
  border-radius: 4px;
  border: 3px solid #bbb;
  text-justify: center;
  font-weight: 600;
  font-style: inherit;
  
 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
  -webkit-appearance: none;
  padding: 2px 2px;
  line-height: 24px;
  margin: 0;
  border-radius: 4px;
  text-justify: center;
  border: 3px solid #bbb;
  font-weight: 600;
  font-size: 30px;
  font-style: inherit;
}
