body {
  padding: 50px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 10px;
  align-self: center;
}

a {
  color: #00B7FF;
}


.vl {
  border-left: 6px solid green;
  border-right: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -3px;
  margin-right: -3px;
  top: 0;
}


input[type="text"]{ padding: 5px 5px; line-height: 8px; }